@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"], input[type="password"], input[type="email"],input[type='number'],
textarea {
    @apply w-full border my-1 py-2 px-3 rounded-2xl;
}
button{
    @apply bg-gray-300;
}
button.primary{
    /* background-color: #FF385C; */
    @apply bg-primary mt-1 p-2 w-full rounded-2xl text-white;
}